.card-box{
    .card{
        width: 280px;
        height: 470px;
        border: none;
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        img{
            width: 100%;
            height: 300px;
            margin-bottom: 20px;
        }
        p{
            margin-bottom: 20px;
            font-family: 'Montserrat', sans-serif;
            font-size: 14px;
        }
        .icon{
            display: flex;
            flex-direction: row;
            align-items: center;
            i{
                color: goldenrod;
                font-size: 10px;
                margin: 10px 1px;
            }
        }
        span{
            font-weight: 600;
            font-family: 'Montserrat', sans-serif;
            font-size: 16px;
        }
    
    }
}