// component
@import "./component/header.scss";
@import "./component/firstsec.scss";
@import "./component/secondsec.scss";
@import "./component/slidersec.scss";
@import "./component/bestseller.scss";
@import "./component/discount.scss";
@import "./component/services.scss";
@import "./component/instagramsec.scss";
@import "./component/footer.scss";


// base
@import "./base/index.scss";


// pages
@import "./pages/shop.scss";

