header{
    width: 100%;
    height: 80px;
    border: 1px solid black;
    
    
    nav{
    border: 1px solid black;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        figure{
            img{
               max-width: 98px;
                height: 31px;
            }
        }
        .header{
            display: flex;
        height: 80px;
        align-items: center;

            li{
                margin-left: 10px;
                a{
                    color: black;
                    font-size: 15px;
                    font-weight: 500;
                    display: block;
                    padding: 2px 0;
                    position: relative;    
                    font-family: sans-serif;         
                    
                }
            }
        }
        .logres{
            a{
                font-size: 12px;
    color: #666666;
    position: relative;
            }
        }
    }
}