header{
    width: 100%;
    height: 80px;
    // border: 1px solid black;
    margin-bottom: 5px;
    
 .header-container {
    height: 100%;
       
    nav{
        // border: 1px solid black;
    
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            height: 100%;
            figure{
                img{
                   max-width: 98px;
                    height: 31px;
                }
            }
            .header{
                display: flex;
            height: 80px;
            align-items: center;
            position: relative;
    
                li{
                    margin-left: 50px;

                    .header-pages-details{
                        width: 200px;
                        height: 300px;
                        
                        background-color: rgb(150, 33, 33) !important;
                        border: 3px solid black;
                        visibility: hidden;
                        position: absolute;
                        // &:hover{
                        //     display: inline;
                            
        
                        // }
                        // ul{
                        //     li{
                        //         a{
                        //             color: white;
                        //         }
                        //     }
                        // }
                    }
                             
                    a{
                        color: black;
                        font-size: 15px;
                        font-weight: 500;
                        display: block;
                        padding: 2px 0;
                        position: relative;    
                        font-family: sans-serif;  
                        
                        &:hover{
                            cursor: pointer;
                            border-bottom: 3px solid #CA1515;
                            border-radius: 1px;  
                        }                    
                    }
                  
                }
              
            }
            .logres{
                display: flex;
                li{
                    margin-left: 10px;
                    a{
                        font-size: 12px;
                        color: #666666;
                        position: relative;
                        cursor: pointer;
                        font-family: sans-serif;
                        letter-spacing: 1px;
                                   
                    }
                    i{
                        cursor: pointer;
                    }
                }
               
               
            }
            .mobile-menu{
                display: none;
            }
        }
        @media screen and (max-width: 1000px) {
            .header{
                display: none !important;
            }
            .logres{
                display: none !important;
            }
            .mobile-menu{
                display: block !important;
            }
        }
        
 }
 .mobile-header-active{    
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.945);
    position: absolute;
    z-index: 15px;
    top: 0;
    left: 0;
    ul{
        margin-top: 80px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        li{
            margin-bottom: 15px;
            a{
                color: rgb(15,25,35);
                font-size: 20px;
            }
        }
    }
    i{
        margin: 30px;
        color: red;
        font-size: 30px;
        
    }
}


 @media (max-width: 990px){
    .header{
        .header{
            display: none;
        }
        .logres{
            display: none;
        }
        .mobile-menu{
            i{
                color: white;   
                display: block;   
            }
    
    }            
    }
}

}