



.container {
  

 .section3-home-box {

    width: 100%;
    .second-nav{
        margin-top: 30px; 
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        // height: 74px;
        .new-product{
            margin-top: 10px;
            h3{
                font-size: 24px;
                font-weight: 600;
                font-family: sans-serif;
            }
            span{
                width: 60px;            
                border-bottom: 3px solid #CA1515;
                text-align: left;
            }
        }
    } 
    
    .tab-panel {
        display: flex;
        flex-wrap: wrap;
        padding: 0px;
        justify-content: space-between;
        margin-bottom: 10px;

        .card-section2 {        
            width: 250px;
            height: 400px;
            // border: 2px solid black;
            padding: 10px;
            display: flex;
            flex-direction: column;
            align-items: center;

            img {
                width: 100%;
                height: 250px;
            }
            i{
                color: goldenrod;
            }
            span{
                font-weight: 600;
                font-size: 18px;
            }
        }
    }

    }

        

    
        
   

  
}