*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}


.container{
    width: 75% ;
    margin: auto;
}


.header-container{
    max-width: 90%;
    margin: 0 auto;
}



.fashion-section{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
